.main_div{
    width:100%;
}
#mainHeading{
    text-align: center;
}
.topic{
    height:250px;
    width:300px;
    float: left;
    border:5px groove teal;
    margin-left:20px;
    overflow:scroll;
    border-radius:10%;
    padding: 10px;
    background:rgb(206, 144, 206);
    color:rgb(247, 205, 247);
    box-shadow: 10px 10px gray
}

.topic h2{
    text-align: center;
    color:#ddd
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size:20px;
}
.secondline{
    background:skyblue;
    color:black;
    margin-top:20px;
}

.secondline h2{
    color:olive;
}


@media screen and (min-width:400px){
    body{
        background:green
    }
    .topic{
        width:100px;
    }
    
}


@media screen and (min-width:800px){
    body{
        background:slateblue
    }
    .topic{
        width:150px;
    }
    
}
@media screen and (min-width:1000px){
    body{
        background:gray
    }
    .topic{
        width:300px;
    }
}

body{
    /*background-image: linear-gradient(to right, skyblue, lightpink, lightgreen,slateblue)   */
    background-image: radial-gradient( skyblue, lightpink, lightgreen,slateblue)
}

.fontv{
    font-variant: small-caps
}



/*
solid
dotted
dashed
double
groove
*/